.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

:root {
    --green: #04F404;
    --black: #000000;
}

@font-face {
    font-family: zig;
    src: url(zig.regular.ttf);
}

* {
    font-family: zig;
    font-weight: bold;
    background: var(--black);
    color: var(--green);
}

body {
    display: grid;
    grid-template-rows: 19fr 1fr;

    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

footer {
    padding-top: 10px;
    text-align: center;

    font-size: small;
}

section.screen {
    height: 0px;
    width: 0px;

    padding: 5px;

    border-style: solid;
    border-color: var(--green);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: height 1s, width 1s;
}

section.screen iframe {
    height: 100%;
    width: 100%;
}

section.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

section.buttons button {
    font-weight: bold;

    width: 200px;
    height: 50px;

    border-style: solid;
    border-color: var(--green);
}

section.buttons button:hover,
section.buttons button:focus {
    background: var(--green);
    color: var(--black);
}
