@font-face {
    src: url(fonts/RobotoMono-Light.ttf);
    font-family: RobotoMono;
}

:root {
	--popup-color: #fbfbfe;
	--font-color: #050316;
	--primary-color: #2f27ce;
	--secondary-color: #dddbff;
	--accent: #443dff;
    
	font-family: RobotoMono;
	font-weight: 600;
}

body {
    margin: 0px;
}

.popup {
    background-color: var(--popup-color);
	color: var(--font-color);
    

	position: fixed;
	z-index: 100;
    
	border-radius: 25px;
	box-shadow: -20px 20px 5px #20202020;

	padding: 15px;
	padding-top: 10px;
	
	top: 10px;
	right: 10px;
	
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
}

.selector {
	padding: 10px;
	width: 90%
}

.selector.range {
	text-align: left;

	display: grid;
	grid-template-columns: 10fr 1fr;
}

.selector.range:nth-child(4) {
	text-align: right;
}

.selector.color {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.selector.title {
	text-align: center;
}

.selector.number {
	text-align: right;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.selector.button {
	display: flex;
	flex-direction: column;
	align-items: center;
}

button {
}

canvas {
	position: fixed;
	top: 0px;
	left: 0px;
}
